<h4>Configuration for display internal temperature</h4>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="settings-navbartemp-display"></label>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.displayRaspiTemp"> Raspberry Pi
            </label>
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.displayOdroidXU3Temp"> Odroid XU3
            </label>
        </div>
    </div>
</form>
