<h4>Configuration for custom commands</h4>

<form class="form-horizontal">
    <label class="control-label" for="settings-navbartemp-cmd_name">{{ _('Name') }}</label>
    <div class="controls">
        <div class="input-append">
            <input type="text" class="input-block-level" data-bind="value: settings.cmd_name">
        </div>
    </div>
    <label class="control-label" for="settings-navbartemp-cmd">{{ _('Cmd') }}</label>
    <div class="controls">
         <input type="text" class="input-block-level" data-bind="value: settings.cmd">
    </div>
</form>