<h4>Configuration for Raspberry Pi</h4>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="settings-navbartemp-display"></label>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.displayRaspiTemp"> Display internal temperature
            </label>
        </div>
    </div>
</form>