<p class="nav navbar-text" data-bind="html: raspiTemp, visible: isRaspi"></p>
<div data-bind="visible: navBarTempModel.isOperational()" class="nav">
    <!-- ko foreach: navBarTempModel.tools -->
    <p class="nav navbar-text" data-bind="template: { name: 'navbartemp-template' }"></p>
    <!-- /ko -->
    <p class="nav navbar-text" data-bind="template: { name: 'navbartemp-template', data: navBarTempModel.bedTemp }, visible: navBarTempModel.hasBed"></p>
</div>

<script type="text/html" id="navbartemp-template">
    <span data-bind="html: $root.formatBarTemperature(name(), actual(), target())"></span>
</script>
