@default-shadow:    #c8c8c8;
@black-shadow:      #5e5e5e;
@red-shadow:        #d86761;
@blue-shadow:       #1a66ff;
@green-shadow:      #50da00;
@yellow-shadow:     #c2b00c;
@violet-shadow:     #a774ff;
@orange-shadow:     #f6a570;
@white-shadow:      #c8c8c8;

@whiteish:          #f2f2f2;
@darkish:           #333;

.navbar-inner {
    .navbar-text {
        color: @darkish;
        text-shadow: 0 1px 0 @default-shadow;
        cursor: default;
    }
}

.navbar-inner {
    &.blue,&.red,&.orange,&.yellow,&.violet,&.black {
        .navbar-text {
            color: @whiteish;
        }
    }
    &.white .navbar-text {
        color: @darkish;
    }
}

.navbar-inner {
    &.black .navbar-text {
        text-shadow: 0 1px 0 @black-shadow;
    }
    &.white .navbar-text {
        text-shadow: 0 1px 0 @white-shadow;
    }
    &.red .navbar-text {
        text-shadow: 0 1px 0 @red-shadow;
    }
    &.blue .navbar-text {
        text-shadow: 0 1px 0 @blue-shadow;
    }
    &.green .navbar-text {
        text-shadow: 0 1px 0 @green-shadow;
    }
    &.yellow .navbar-text {
        text-shadow: 0 1px 0 @yellow-shadow;
    }
    &.orange .navbar-text {
        text-shadow: 0 1px 0 @orange-shadow;
    }
    &.violet .navbar-text {
        text-shadow: 0 1px 0 @violet-shadow;
    }
}